@font-face {
  font-family: 'samyak';
  src: url('https://res.cloudinary.com/dxmi9d3vj/raw/upload/v1597686883/Samyak-Devanagari_t1xczn.ttf')
    format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'samyak', 'roboto';
}

body {
  background: black;
  background: url('https://res.cloudinary.com/dxmi9d3vj/image/upload/v1597709939/download_2_cde2vd.jpg')
    no-repeat center center fixed;
  background-size: cover;
}

body:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.8;
}

#texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#shloka {
  color: #fffce3;
  word-wrap: normal;
  white-space: nowrap;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5em;
  word-spacing: -0.5em;
  text-shadow: 0 0 1px #fffce3, 0 0 2px #fcfcd3, 0px 0 3px #6c391d,
    0px 0 4px #6c391d, 0px 0 4px #6c391d, 0px 0 5px #6c391d, 0px 0 6px #6c391d;
}

#shloka-meaning {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding-top: 50px;
  color: #ffda96;
  text-shadow: 0 0 1px #fff;
  word-wrap: normal;
  font-size: 1.5em;
  white-space: nowrap;
  text-align: center;
}

#canvas1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
